In [1]:
import pandas as pd

In [2]:
student=pd.read_csv('student1.csv')

In [4]:
student[-3:]

   序号    性别  年龄   身高  体重        省份  成绩
2   3  male  22  180  62    FuJian  57
3   4  male  20  177  72  LiaoNing  79
4   5  male  20  172  74  ShanDong  91

In [5]:
student=pd.read_csv('student1.csv',index_col=0)
student

      性别  年龄   身高  体重        省份  成绩
序号
1   male  20  170  70  LiaoNing  71
2   male  22  180  71   GuangXi  77
3   male  22  180  62    FuJian  57
4   male  20  177  72  LiaoNing  79
5   male  20  172  74  ShanDong  91

In [6]:
student[:3]

      性别  年龄   身高  体重        省份  成绩
序号
1   male  20  170  70  LiaoNing  71
2   male  22  180  71   GuangXi  77
3   male  22  180  62    FuJian  57