In [97]:
import numpy as np

In [98]:
import pandas as pd

In [99]:
from pandas import Series, DataFrame

In [100]:
height=Series([187,190,185,178,185],index=['13','14','7','2','9'])
height

13    187
14    190
7     185
2     178
9     185
dtype: int64

In [101]:
height1=Series({'13':187,'14':190,'7':185,'2':178,'9':185})
height1

13    187
14    190
2     178
7     185
9     185
dtype: int64

In [102]:
height['13']

187

In [103]:
#height['13','2','7'],错

In [104]:
height[['13','2','7']]

13    187
2     178
7     185
dtype: int64

In [105]:
height[['13']]

13    187
dtype: int64

In [106]:
height[1]

190

In [107]:
height[1:3]

14    190
7     185
dtype: int64

In [108]:
height['13']=188

In [109]:
height['13']

188

In [110]:
height[1:3]=160

In [111]:
height[1:3]

14    160
7     160
dtype: int64

In [112]:
#new=height.drop(['13','9'],inplace=True)

In [113]:
height

13    188
14    160
7     160
2     178
9     185
dtype: int64

In [114]:
a = Series([190,187], index=['23','5'])
newheight=height.append(a)

In [115]:
newheight

13    188
14    160
7     160
2     178
9     185
23    190
5     187
dtype: int64

In [116]:
newheight=height.drop(['13','9'])

In [117]:
newheight

14    160
7     160
2     178
dtype: int64

In [118]:
height.index=[1,2,3,4,5]

In [119]:
height.iloc[0]

188

In [120]:
height[height>178]

1    188
5    185
dtype: int64

In [121]:
a.iloc[0]

190

In [122]:
a[0]

190

In [123]:
height[0::2]

1    188
3    160
5    185
dtype: int64

In [124]:
newheight["1"]=114514

In [125]:
newheight

14       160
7        160
2        178
1     114514
dtype: int64

In [126]:
height>=0#生成布尔数组

1    True
2    True
3    True
4    True
5    True
dtype: bool

In [127]:
data = [[19,170,68],[20,165,65],[18,175,65]]
students = pd.DataFrame(data, index=[1,2,3], columns=['age','height','weight'])#  
students

   age  height  weight
1   19     170      68
2   20     165      65
3   18     175      65

In [128]:
students.loc[1,'age']

19

In [129]:
students.shape

(3, 3)

In [130]:
tstudents=students.T

In [131]:
tstudents

          1    2    3
age      19   20   18
height  170  165  175
weight   68   65   65

In [132]:
students.loc[1,'age']

19

In [133]:
students.iloc[[0,2],[0,1]]

   age  height
1   19     170
3   18     175

In [134]:
students.loc[:,['height','weight']]

   height  weight
1     170      68
2     165      65
3     175      65

In [135]:
students[['height','weight']]

   height  weight
1     170      68
2     165      65
3     175      65

In [136]:
students.iloc[1:,0:2]

   age  height
2   20     165
3   18     175

In [137]:
students[1:3]

   age  height  weight
2   20     165      65
3   18     175      65

In [138]:
mask=students['height']>=168

In [139]:
students.loc[mask,['height','weight']]

   height  weight
1     170      68
3     175      65

In [140]:
students['expense']=[1500,1600,1200]
students

   age  height  weight  expense
1   19     170      68     1500
2   20     165      65     1600
3   18     175      65     1200

In [141]:
students['expense']=1000

In [142]:
students

   age  height  weight  expense
1   19     170      68     1000
2   20     165      65     1000
3   18     175      65     1000

In [143]:
students.loc[1,:]=[21,188,70,20]

In [144]:
students

   age  height  weight  expense
1   21     188      70       20
2   20     165      65     1000
3   18     175      65     1000

In [145]:
students.loc[students['expense']<500,'expense']=1200
students

   age  height  weight  expense
1   21     188      70     1200
2   20     165      65     1000
3   18     175      65     1000

In [146]:
students.drop(1,axis=0)

   age  height  weight  expense
2   20     165      65     1000
3   18     175      65     1000

In [147]:
students.drop('expense',axis=1)

   age  height  weight
1   21     188      70
2   20     165      65
3   18     175      65

In [148]:
students.drop(['age','weight'],axis=1,inplace=True)

In [149]:
students

   height  expense
1     188     1200
2     165     1000
3     175     1000