# 3-3-18

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
stu=pd.read_excel('studentsInfo.xlsx','Group3',index_col=0)
stu

        性别  年龄   身高  体重        省份  成绩  月生活费  课程兴趣  案例教学
序号
21  female  21  165  45  ShangHai  93  1200     5     5
22  female  19  167  42     HuBei  89   800     5     5
23    male  21  169  80     GanSu  93   900     5     5
24  female  21  160  49     HeBei  59  1100     3     5
25  female  21  162  54     GanSu  68  1300     4     5
26    male  21  181  77   SiChuan  62   800     2     5
27  female  21  162  49  ShanDong  65   950     4     4
28  female  22  160  52    ShanXi  73   800     3     4
29  female  20  161  51   GuangXi  80  1250     5     5
30  female  20  168  52   JiangSu  98   700     5     5

In [9]:
stu['身高'].corr(stu['体重'])

0.67573990985276833

In [10]:
stu[['身高','体重','成绩']].corr()

          身高        体重        成绩
身高  1.000000  0.675740  0.080587
体重  0.675740  1.000000 -0.072305
成绩  0.080587 -0.072305  1.000000