# 3-3-11

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
colName = ['学号', '姓名', '专业' ] 
data1 = [ ['202003101','赵成','软件工程'], ['202005114','李斌丽','机械制造'], ['202009111','孙武一','工业设计'] ]

In [3]:
stu1=DataFrame(data1,columns=colName)

In [4]:
stu1

          学号   姓名    专业
0  202003101   赵成  软件工程
1  202005114  李斌丽  机械制造
2  202009111  孙武一  工业设计

In [8]:
data2 = [ ['202003103','王芳','软件工程'], ['202005116','袁一凡','工业设计'] ]
stu2 = DataFrame( data2, columns=colName )
stu2

          学号   姓名    专业
0  202003103   王芳  软件工程
1  202005116  袁一凡  工业设计

In [9]:
newstu=pd.concat([stu1,stu2],axis=0)

In [10]:
newstu

          学号   姓名    专业
0  202003101   赵成  软件工程
1  202005114  李斌丽  机械制造
2  202009111  孙武一  工业设计
0  202003103   王芳  软件工程
1  202005116  袁一凡  工业设计