# 3-3-16

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
stu=pd.read_excel('studentsInfo.xlsx','Group3',index_col=0)
stu

        性别  年龄   身高  体重        省份  成绩  月生活费  课程兴趣  案例教学
序号
21  female  21  165  45  ShangHai  93  1200     5     5
22  female  19  167  42     HuBei  89   800     5     5
23    male  21  169  80     GanSu  93   900     5     5
24  female  21  160  49     HeBei  59  1100     3     5
25  female  21  162  54     GanSu  68  1300     4     5
26    male  21  181  77   SiChuan  62   800     2     5
27  female  21  162  49  ShanDong  65   950     4     4
28  female  22  160  52    ShanXi  73   800     3     4
29  female  20  161  51   GuangXi  80  1250     5     5
30  female  20  168  52   JiangSu  98   700     5     5

In [5]:
stu['成绩'].mean()

78.0

In [8]:
stu['月生活费'].quantile([.25,.75])

0.25     800.0
0.75    1175.0
Name: 月生活费, dtype: float64

In [11]:
stu[['身高','体重','成绩']].describe()

               身高       体重         成绩
count   10.000000  10.0000  10.000000
mean   165.500000  55.1000  78.000000
std      6.381397  12.8448  14.476034
min    160.000000  42.0000  59.000000
25%    161.250000  49.0000  65.750000
50%    163.500000  51.5000  76.500000
75%    167.750000  53.5000  92.000000
max    181.000000  80.0000  98.000000