# P96 作业

1.将数据集划分为训练集和测试集，查看决策树分类器的性能。

In [4]:
import numpy as np
import pandas as pd
filename = 'data/bankdebt.csv'
data = pd.read_csv(filename, nrows = 5, index_col = 0, header = None)

In [5]:
data

     1         2     3    4
0
1  Yes    Single  12.5   No
2   No   Married  10.0   No
3   No    Single   7.0   No
4  Yes   Married  12.0   No
5   No  Divorced   9.5  Yes

In [6]:
data.loc[data[1]=='No',1]=0
data.loc[data[1]=='Yes',1]=1

In [7]:
data.loc[data[4] == 'Yes',4 ] = 1
data.loc[data[4] == 'No',4 ] = 0
data.loc[data[2] == 'Single',2 ] = 1
data.loc[data[2] == 'Married',2 ] = 2
data.loc[data[2] == 'Divorced',2] = 3

In [8]:
data.head()

   1  2     3  4
0
1  1  1  12.5  0
2  0  2  10.0  0
3  0  1   7.0  0
4  1  2  12.0  0
5  0  3   9.5  1

In [9]:
X = data.loc[ :, 1:3 ].values.astype(float)
y = data.loc[ :, 4].values.astype(int)

In [10]:
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.5, random_state=1)

In [11]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)
clf.score(X,y)

1.0

In [12]:
#评估分类器性能,计算混淆矩阵，Precision 和 Recall
predicted_y = clf.predict(X_test)
from sklearn import metrics
print(metrics.classification_report(y_test, predicted_y))
print('Confusion matrix:' )
print( metrics.confusion_matrix(y_test, predicted_y) )

             precision    recall  f1-score   support

          0       1.00      1.00      1.00         2
          1       1.00      1.00      1.00         1

avg / total       1.00      1.00      1.00         3

Confusion matrix:
[[2 0]
 [0 1]]

2.将例5-3中的分类器保存到文件中，然后重新加载预测给出的新数据。

In [15]:
from sklearn.externals import joblib
load_clf = joblib.load('clf.pkl')
new_X = np.array([[1,3,114514]])#有房产，离婚，存款114514万元（确信）
print("新客户数据",new_X)
print("预期：",load_clf.predict(new_X) ) #使用模型预测

新客户数据 [[     1      3 114514]]
预期： [0]